@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FBF4E2;
  --secondary-color: #463C74;
  --green-color: #B4D51E;
  --orange-color: #FFC735;
  --black-color: #000;

}

html,
body {
  font-family: "Quicksand", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-bg-secondary {
  background: var(--green-color);
}

.search-area {
  background: #F8F7F5;
  width: 500px;
  padding: 5px 120px 5px 16px;
  border-radius: 10px;
}

.search-button {
  margin-left: -35px;
}

.hero {
  background: url("../../public/hero.png");
  background-size: cover;
  height: 600px;
}

.hero h1 {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 700;
  width: 500px;
}

.hero p {
  font-size: 18px;
  font-weight: 500;
}

.button-cta {
  background: var(--green-color);
  padding: 8px 20px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}